

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: sans-serif;
  font-size: 10px;
}


.container {
  margin: 0 auto;
  width: 75%;
}

div {
  background-color: #dadada;
  float: left;
  margin: 1% 2%;
  width: 100%;
  padding: 90px 90px;
}

h1 {
  font-size: 1.2em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 50px;
}


div p {
  font-size: 1.8em;
  font-family: serif;
  font-weight: 500;
  text-align: left;
  text-transform: capitalize;
  margin-left: -70px;
  margin-top: -70px;
}

.preview.baku {
  background-image: url(https://raw.githubusercontent.com/maguados/css-exercise-four/master/images/baku.jpg);
  background-repeat: no-repeat;
background-size: cover;
}

.preview.london {
  background-image: url(https://raw.githubusercontent.com/maguados/css-exercise-four/master/images/london.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.preview.madrid {
  background-image: url(https://raw.githubusercontent.com/maguados/css-exercise-four/master/images/madrid.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.preview.rome {
  background-image: url(https://raw.githubusercontent.com/maguados/css-exercise-four/master/images/rome.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 575px){
   div {
    margin: 1%;
    width: 48%;
  }
}

@media screen and (min-width: 991px){
   div {
    margin: 1%;
    width: 20%;
  }
}
